{% extends 'base.html' %}


{% block head_title %}Pricing - {{ block.super }}{% endblock head_title %}


{% block content %}

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Designed for business teams like yours</h2>
            <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">Here at Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p>
        </div>
        <div class="space-y-8 md:space-y-0 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">

            <!-- Pricing Cards -->
            {% for price_obj in monthly_qs %}
                {% include 'subscriptions/snippets/pricing-card.html' with object=price_obj %}
            {% endfor %}
            

            {% for price_obj in yearly_qs %}
                {% include 'subscriptions/snippets/pricing-card.html' with object=price_obj %}
            {% endfor %}
            
        </div>
    </div>
  </section>

{% endblock content %}

